body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 10px;
    width: 300px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ccc;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.2; /* Glowing Effect */
    transition: opacity 0.3s;
}

button:hover {
    color: yellow; /* Change color on hover */
}

button.hidden {
    display: none; /* Hide the button initially */
}
