@font-face {
	font-family: 'Scifi';
	src: url('./fonts/Many\ Years\ Higher.ttf');
}

* {
	audio::-webkit-media-controls {
        display: none;
    }
}

body {
	font-family: 'Scifi';
	margin: 0;
	padding: 0;
}

iframe {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	z-index: -1;
}

h1 {
	color: white;
}

.title {
	font-size: 150px;
	text-align: center;
}

.btn {
	margin: 10px;
	margin-bottom: 50px;
	padding: 15px 40px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 12px;
	height: 70px;
	width: 200px;
	font-family: 'Scifi';
	font-size: large;
	display: inline-block;
}

.btn::after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333;
	left: 0;
	top: 0;
	border-radius: 10px;
}

/* glow */
.btn::before {
	content: "";
	background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

/* hover */
.btn:hover::before {
	opacity: 1;
}

/* .btn:active:after {
	background: transparent;
} */

.btn:active {
	color: #000;
	font-weight: bold;
}

.selection {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.center {
	align-items: center;
	margin-left: auto;
	margin-right: auto
}